<%- include ('./partials/header.ejs') -%> 
<div class="container">
    <nav class="navbar">
        <a href="/" class="option">My Notes</a>
        <div class="options">
            <% if (user) { %>
                <a href="/user/session" class="option"><%= user.username %> </a>
            <% } else {%>
                <a href="/user/login" class="option">Login</a>
                <a href="/user/signup" class="option">Signup</a>
            <% } %>
    </div>
</nav>
<main class="main">
    <h3>Welcome to My Notes</h3>
    <br>
    <img src="/public/icons/note.svg" alt="">
    <br>
    <br>
    <p>Take your notes quickly and easily</p>
</main>
</div>
<%- include ('./partials/footer.ejs') -%> 
