@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #1e3c72;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:whitesmoke;
    font-family: 'Varela Round', sans-serif;
}

.container{
    width: 80%;
    margin:auto;
}
.navbar{
    background:#2021209e;
    width:inherit;
    height: 40px;
    margin:auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    position:fixed;
    top:0;
}

.option{
    padding:5px;
    text-decoration: none;
    color:white;
}
.option:hover{
    border:1px solid #A43931;
    border-radius: 1px;
    cursor: pointer;
}

.main{
    margin:5% auto;
    text-align:center;
}
.form{
    border:1px solid rgba(255, 255, 255, 0.694);
    border-radius:2px;
    padding:10px;
    width:40%;
    margin:3% auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#username,#email,#password{
    width:60%;
}

.btn{
    margin: 1% auto;
    background-color: inherit;
    color:white;
    width:20%;
    border:1px solid white;
    border-radius:2px;
    padding:5px;
    cursor:pointer;
    font-family: 'Varela Round', sans-serif;
}
.btn:hover,.btn-notes:hover{
    color: white;
    border:1px solid #A43931;
    transition: 0.5s;
}
.check{
    margin: 2% auto;
    display: flex;
    align-items: center;
}

.error{
    margin:2% auto;
    padding:1% 3%;
    width: 50%;
    text-align: center;
    border: 1px solid white;
    border-radius:2px;
}
.note{
    width:40%;
    margin:2% auto;
    padding:1%;
    border:1px solid white;
}

.icon{
    background-color: inherit;
    width: 16px;
    height: 16px;
    max-width: 100%;
    max-height: 100%;
}

.btn-notes{
    margin: 3px auto;
    background-color: inherit;
    border:1px solid white;
    border-radius:2px;
    padding:1% 3%;
    cursor:pointer;
}
.noteId{
    display: none;
}
.title{
    margin-top: 3% ;
}

#title,#description,#email,#password{
    background-color:rgba(28, 28, 28, 0.516);
    color:white;
}